/*Import custom font*/

@font-face {
  font-family: 'RFDewi-Regular';
  src: local('RFDewi-Regular'), url("./assets/fonts/RFDewi-Regular.ttf") format('truetype');
}

@font-face {
  font-family: 'RFDewi-Ultrabold';
  src: local('RFDewi-Ultrabold'), url("./assets/fonts/RFDewi-Ultrabold.ttf") format('truetype');
}

@font-face {
  font-family: 'RFDewiCondensed-Thin';
  src: local('RFDewiCondensed-Thin'), url("./assets/fonts/RFDewiCondensed-Thin.ttf") format('truetype');
}

/*Reset Css*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*Custom default items*/

html{
  scroll-behavior: smooth;
}

body{
  background:rgba(22, 3, 3, 1);
}

button,a{
  cursor:pointer;
}

/*Custom Scroll-bar*/

::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-track{
  background: rgba(67, 12, 12, 0.4);
}

::-webkit-scrollbar-thumb{
  background: rgba(153, 22, 22, 0.6);
}

::-webkit-scrollbar-thumb:hover{
  background: rgba(153, 22, 22, 0.8);
}
